h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-primary {
  padding: 10px 32px;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: none;
  text-align: center;
  line-height: 1.87;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover, .button-primary:focus {
  background-color: #188ce8;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  position: relative;
  padding: 16px 0;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  font-family: Raleway, sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-color {
  color: #2196f3;
}

.site-nav {
  margin-bottom: 60px;
}

.site-nav .item:not(:last-child) {
  margin-bottom: 40px;
}

.site-nav .link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .current {
  position: relative;
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .current::after {
  position: absolute;
  content: "";
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 50px;
}

.site-contacts .item:not(:last-child) {
  margin-bottom: 16px;
}

.site-contacts .link {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  --color4: #2196f3;
  color: #2196f3;
}

.icon-contacts {
  margin-right: 10px;
}

.mobile-menu {
  display: none;
  z-index: 1;
  position: absolute;
  padding: 60px 0;
  top: 100%;
  left: 0;
  width: 100%;
  height: 393px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu.is-open {
  display: block;
}

.navigator-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.icon-close {
  display: none;
}

.navigator-btn.is-open .icon-close {
  display: block;
}

.navigator-btn.is-open .icon-menu {
  display: none;
}

.icon-menu,
.icon-close {
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigator-btn:hover .icon-menu,
.navigator-btn:focus .icon-menu, .navigator-btn:hover
.icon-close,
.navigator-btn:focus
.icon-close {
  fill: #2196f3;
}

@media screen and (min-width: 480px) {
  .site-nav .current::after {
    top: 35.5px;
    left: 188px;
    border-radius: 50px;
    width: 22%;
    height: 4px;
  }
  .logo-header {
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    position: relative;
    padding: 21px 0;
  }
  .navigator-btn {
    display: none;
  }
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-header {
    margin-right: 88px;
  }
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding: 0;
    height: auto;
    box-shadow: none;
  }
  .site-nav .current::after {
    top: 48.5px;
    left: 0px;
    width: 100%;
  }
  .site-nav {
    display: flex;
    justify-content: space-between;
    width: 294px;
    margin-bottom: 0;
  }
  .site-nav .link {
    font-size: 14px;
    line-height: 1.143;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 0px;
  }
  .site-contacts {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
  }
  .site-contacts .link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0 25px 0;
  }
  .logo-header {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.192;
  }
  .site-nav .current::after {
    top: 44.5px;
    left: 0px;
    width: 100%;
  }
  .site-contacts {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 340px;
  }
  .site-contacts .item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .site-contacts .link {
    font-size: 14px;
    line-height: 1.143;
  }
}

@media screen and (min-width: 479px) and (max-width: 1199px) {
  .footer {
    padding: 60px 0;
    background-color: #2f303a;
  }
  .cont-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-footer {
    display: block;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
  }
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
  .office {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .mail-footer {
    margin-top: 8px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-footer:hover, .mail-footer:focus {
    color: #2196f3;
  }
  .tel-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-footer:hover, .tel-footer:focus {
    color: #2196f3;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .soc-footer {
    display: flex;
    justify-content: space-between;
  }
  .social-footer .title {
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: 1.142;
    margin-bottom: 20px;
    color: white;
    letter-spacing: 0.03em;
  }
  .footer-link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link:hover {
    background-color: #2196f3;
  }
  .form-field {
    text-align: center;
  }
  .form-field .title {
    margin-top: 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .form-input-fotter {
    width: 450px;
    height: 50px;
    margin: 20px 0;
    padding: 15px 16px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: cornsilk;
  }
  .form-input-fotter::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .form-input-fotter:focus {
    outline: none;
    border: 1px solid #2196f3;
  }
  .btn-subscribe {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .btnfly {
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .form-field .title {
    margin-top: 0px;
  }
  .form-input-fotter {
    margin: 20px 166px 20px 152px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }
  .footer {
    background-color: #2f303a;
  }
  .logo-footer {
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 60px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #ffffff;
    text-decoration: none;
  }
  .tablet-side {
    display: flex;
    align-items: baseline;
  }
  .office {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
  }
  .mail-footer {
    margin-top: 9px;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-footer:hover, .mail-footer:focus {
    color: #2196f3;
  }
  .tel-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-footer:hover, .tel-footer:focus {
    color: #2196f3;
  }
  .footer-link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link:hover {
    background-color: #2196f3;
  }
  .soc-footer {
    display: flex;
    justify-content: center;
  }
  .social-footer {
    margin-right: 93px;
    margin-left: 70px;
  }
  .social-footer .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;
    color: white;
  }
  .right-side {
    display: flex;
    align-items: normal;
  }
  .form-field .title {
    margin-bottom: 20px;
    padding-left: 7px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff;
  }
  .form-input-fotter {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: cornsilk;
  }
  .form-input-fotter::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .form-input-fotter:focus {
    outline: none;
    border: 1px solid #2196f3;
  }
  .btn-subscribe {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .btnfly {
    margin-left: 10px;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-bottom: 40px;
}

.filters .btn {
  margin-bottom: 15px;
}

.filters .btn:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 320px) {
  .portfolio {
    padding: 60px 0;
  }
  .portfolio .title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
  }
  .portfolio.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .titles {
    padding: 20px 24px;
  }
}

@media screen and (min-width: 768px) {
  .filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
  .filters {
    padding-bottom: 40px;
  }
}

.projects {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  min-width: 450px;
  border: 1px solid #eeeeee;
  overflow: hidden;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects:hover, .projects:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .hryaktxt {
  display: flex;
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  align-items: center;
  background: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  opacity: 0;
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects:hover .hryaktxt,
.projects:focus .hryaktxt {
  transform: translateY(0);
  opacity: 1;
}

.projects:nth-child(3n) {
  margin-right: 0;
}

.projects:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects {
    min-width: 354px;
    margin: 0px;
  }
  .projects:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .projects:not(:last-child) {
    margin-bottom: 30px;
  }
  .projects {
    width: calc((100% - 4 * 15px) / 2);
  }
  .list-pro {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    min-width: 370px;
  }
  .projects {
    width: calc((100% - 4 * 15px) / 3);
  }
  .list-pro {
    display: flex;
    flex-wrap: wrap;
  }
}

.social-link {
  display: flex;
  margin-bottom: 30px;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: #2196f3;
  --color5: #ffffff;
}

.list-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
/*# sourceMappingURL=portfolio.css.map */