h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-primary {
  padding: 10px 32px;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: none;
  text-align: center;
  line-height: 1.87;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover, .button-primary:focus {
  background-color: #188ce8;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-color {
  color: #2196f3;
}

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .current {
  position: relative;
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .current::after {
  position: absolute;
  content: "";
  top: 45.5px;
  left: 0px;
  border-radius: 50px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}

.site-contacts {
  display: flex;
}

.site-contacts .item + .item {
  padding-left: 50px;
}

.site-contacts .link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  --color4: #2196f3;
  color: #2196f3;
}

.icon-contacts {
  margin-right: 10px;
}

.address {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

footer {
  background-color: #2f303a;
}

.cont-footer {
  display: flex;
  align-items: center;
}

.logo-footer {
  display: inline-block;
  padding-bottom: 20px;
  padding-top: 60px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
}

.office {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}

.mail-footer {
  margin-top: 9px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-footer:hover, .mail-footer:focus {
  color: #2196f3;
}

.tel-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-footer:hover, .tel-footer:focus {
  color: #2196f3;
}

.footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
  background-color: #2196f3;
}

.soc-footer {
  display: flex;
  justify-content: center;
}

.social-footer {
  margin-right: 93px;
  margin-left: 70px;
}

.social-footer .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  color: white;
}

.right-side {
  display: flex;
  align-items: normal;
}

.form-field .title {
  margin-bottom: 20px;
  padding-left: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.form-input-fotter {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: cornsilk;
}

.form-input-fotter::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-input-fotter:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.btn-subscribe {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btnfly {
  margin-left: 10px;
}

.portfolio {
  padding: 94px 0;
}

.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio.text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.portfolio .list {
  display: flex;
  flex-wrap: wrap;
}

.titles {
  padding: 20px 24px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.btn + .btn {
  margin-left: 8px;
}

.projects {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  min-height: 404px;
  border: 1px solid #eeeeee;
  overflow: hidden;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects:hover, .projects:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .hryaktxt {
  display: flex;
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  align-items: center;
  background: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  opacity: 0;
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects:hover .hryaktxt,
.projects:focus .hryaktxt {
  transform: translateY(0);
  opacity: 1;
}

.projects:nth-child(3n) {
  margin-right: 0;
}

.projects:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.social-link {
  display: flex;
  margin-bottom: 30px;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: #2196f3;
  --color5: #ffffff;
}

.list-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
/*# sourceMappingURL=portfolio.css.map */