@media screen and (max-width: 1200px) {
  .activity {
    display: none;
  }
}

.activity {
  padding-bottom: 94px;

  & .list {
    display: flex;
  }

  & .title {
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: $primary-text-color;
  }
}

.example + .example {
  margin-left: 30px;
}

.text-bg {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
}

.example {
  position: relative;
}

.active {
  display: block;
  position: absolute;
  min-width: 370px;
  min-height: 70px;
  text-align: center;
  bottom: 3px;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: $white-color;
}
