@media screen and (min-width: 480px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;

    & .text {
      font-size: 14px;
      line-height: 1.71;
      color: $secondary-text-color;
    }

    & .title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      color: $primary-text-color;
      text-align: center;
    }
    & .spec::before {
      content: "";
      display: block;
      margin-bottom: 30px;
      height: 120px;
      background: #f5f4fa;
      border-radius: 4px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px, 70px;
    }
  }
  .spec:not(:last-child) {
    margin-bottom: 30px;
  }
}

.spec.icon-antena::before {
  background-image: url("../images/antenna.svg");
}

.spec.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.spec.icon-nout::before {
  background-image: url("../images/Vector.svg");
}

.spec.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .features {
    & .list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    & .spec {
      width: 354px;
    }

    & .title {
      text-align: left;
    }
  }
  .spec:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;

    & .list {
      display: flex;
      justify-content: space-between;
    }

    & .title {
      text-align: left;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      color: $primary-text-color;
    }

    & .text {
      font-size: 14px;
      line-height: 1.71;
      color: $secondary-text-color;
    }

    & .spec {
      width: 270px;
      margin-bottom: 0;
    }
  }

  .features .spec::before {
    content: "";
    display: block;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px, 70px;
  }

  .spec.icon-antena::before {
    background-image: url("../images/antenna.svg");
  }

  .spec.icon-clock::before {
    background-image: url("../images/clock.svg");
  }

  .spec.icon-nout::before {
    background-image: url("../images/Vector.svg");
  }

  .spec.icon-astronaut::before {
    background-image: url("../images/astronaut.svg");
  }
}

// .features {
//   padding-top: 94px;
//   padding-bottom: 94px;

// & .list {
//   display: flex;
// }

//   & .title {
//     margin-bottom: 10px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     color: $primary-text-color;
//   }

//   & .text {
//     font-size: 14px;
//     line-height: 1.71;
//     color: $secondary-text-color;
//   }

//   & .spec {
//     width: 270px;
//   }
// }

// .features .spec::before {
//   content: "";
//   display: block;
//   margin-bottom: 30px;
//   height: 120px;
//   background: #f5f4fa;
//   border-radius: 4px;

//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 70px, 70px;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .spec.icon-antena::before {
//   background-image: url("../images/antenna.svg");
// }

// .spec.icon-clock::before {
//   background-image: url("../images/clock.svg");
// }

// .spec.icon-nout::before {
//   background-image: url("../images/Vector.svg");
// }

// .spec.icon-astronaut::before {
//   background-image: url("../images/astronaut.svg");
// }
