.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-bottom: 40px;

  .btn {
    margin-bottom: 15px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

@media screen and (min-width: 320px) {
  .portfolio {
    padding: 60px 0;

    & .title {
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $primary-text-color;
    }

    &.text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      color: $secondary-text-color;
    }
  }
  .titles {
    padding: 20px 24px;
  }
}

@media screen and (min-width: 768px) {
  .filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }

  .filters {
    padding-bottom: 40px;
  }
}

// .portfolio {
//   padding: 94px 0;

//   & .title {
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     color: $primary-text-color;
//   }

//   &.text {
//     font-size: 16px;
//     line-height: 1.87;
//     color: $secondary-text-color;
//   }

//   & .list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-start;
//   }
// }

// .titles {
//   padding: 20px 24px;
// }

// .filters {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: start;
//   padding-bottom: 40px;
// }

// .btn + .btn {
//   margin-left: 8px;
// }
