.modal-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}

.form-input {
  width: 100%;
  height: 40px;

  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }

  &:focus + .input-icon {
    fill: $accent-color;
  }
}

.checkbox-modal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: baseline;
}

.textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.label-policy .link {
  color: $accent-color;
}
.form-title {
  // margin-top: 11px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.label-policy {
  display: flex;
  // align-items: center;
  // justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-top: 20px;
  // margin-bottom: 30px;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid $primary-text-color;
    border-radius: 2px;
    margin-right: 8px;
  }
}

.input-checkbox:checked + .label-policy::before {
  background-image: url("../images/icon-check.svg");
  border: none;
}
.checkrow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
